body {
    font-family: "Playfair Display";
    color: #1a1a1a;
    font-size: 140%;
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
}

h1,
h2,
h3 {
    display: flex;
    font-weight: 200;
    justify-content: center;
}

h1.header {
    justify-content: flex-start;
}

h2 {
    color: #5c5c5c;
}

.extraright {
    margin-right: 0;
    opacity: 100%;
    color: #aaa;
}

.extraright2 {
    margin-top: 1.3rem;
}

.qk-text {
    display: inline-block;
}

.extraleft {
    margin-top: 1.3rem;
    margin-right: 0.4em;
    opacity: 100%;
    color: #aaa;
}

.extradown {
    margin-right: -4.7rem;
    margin-top: 4rem;
    opacity: 100%;
    border-top: 2px solid #aaa;
    padding-top: 0.2rem;
    color: #aaa;
}

.animation-wrapper {
    width: 100%;
    position: relative;
}

.post-tablist {
    margin: auto;
    justify-content: center;
}

/* Debug borders - toggle by adding/removing .debug class on body */
body.debug .extraleft {
    border: 2px solid red;
}

body.debug .extradown {
    border: 2px solid blue;
    border-top: 2px solid blue;
}

body.debug .extraright {
    border: 2px solid green;
}

body.debug .extraright2 {
    border: 2px solid orange;
}

body.debug h1.header {
    border: 2px dashed purple;
}
